#----------------------------------------------------------------------------------
# APPLICATION ENVIRONMENT
#----------------------------------------------------------------------------------
ENVIRONMENT=development

#----------------------------------------------------------------------------------
# BASE URL & SECURITY
#----------------------------------------------------------------------------------
BASE_URL=http://localhost/instrument/
ENCRYPTION_KEY=

#----------------------------------------------------------------------------------
# DATABASE
#----------------------------------------------------------------------------------
DB_DSN=
DB_HOSTNAME=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=instrument
DB_DRIVER=mysqli
DB_PREFIX=
DB_PCONNECT=false
DB_CHAR_SET=utf8
DB_DBCOLLAT=utf8_general_ci

#----------------------------------------------------------------------------------
# EMAIL / SMTP
#----------------------------------------------------------------------------------
EMAIL_FROM=sender@example.com
EMAIL_BCC=
FROM_NAME=Your System Name
SMTP_PROTOCOL=smtp
SMTP_HOST=smtp-mail.outlook.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
MAIL_PATH=/usr/sbin/sendmail

#----------------------------------------------------------------------------------
# GOOGLE OAUTH
#----------------------------------------------------------------------------------
GOOGLE_CLIENT_ID=YOUR_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_CLIENT_SECRET
GOOGLE_API_KEY=
GOOGLE_REDIRECT_URI=http://localhost:8080/user_authentication
GOOGLE_APPLICATION_NAME=Login to CodexWorld.com